# 1. 생각흐름: 어떻게 하면 돈을 더 벌 수 있을까?
    # 1. 누가 (Matrix1, Matrix2,Matrix3)
    # 2. 어떤 상품을 많이 샀지? 
    # 3. 우리는 그 상품을 Sourcing하면 되나?

### 2. 구매 소요 시간 분석     
      1-1. 가입일로부터 구매일까지 전환된 소요시간 분석     
      
          ㄴ 최근 3개월 전체 분석 / 각 월 별 분석  
          
          ㄴ 분기 경향 / 월 별 변동사항 확인 -> 트렌드 분석     
          
          ex. 가입 1일 이내 전환 유저 : 10% -> 15% 상승 성과

In [1]:
import pandas as pd
import numpy as np
import sys
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
# plt.style.use('seaborn-whitegrid')
import os
from datetime import date

In [2]:
def get_font_family():
    """
    시스템 환경에 따른 기본 폰트명을 반환하는 함수
    """
    import platform
    system_name = platform.system()
    # colab 사용자는 system_name이 'Linux'로 확인

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux
        # colab에서는 runtime을 <꼭> 재시작 해야함.
        # 런타임을 재시작 하지 않고 폰트 설치를 하면 기본 설정 폰트가 로드되어 한글이 깨짐.
        !apt-get update -qq
        !apt-get install fonts-nanum -qq  > /dev/null

        import matplotlib.font_manager as fm

        fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
        font = fm.FontProperties(fname=fontpath, size=9)
        fm._rebuild()
        font_family = "NanumBarunGothic"
    return font_family

In [3]:
# 시각화를 위한 폰트설정
# 위에서 만든 함수를 통해 시스템 폰트를 불러와서 font_family 라는 변수에 할당.
a = get_font_family()
# 폰트설정
import matplotlib.pyplot as plt 
plt.rc("font", family = a)
# 마이너스폰트 설정
plt.rc("axes", unicode_minus=False)
# ggplot으로 그래프 스타일 설정
#plt.style.use("ggplot")

In [4]:
df = pd.read_excel("클로젯셰어_과제DB 대체 자료.xlsx")

In [6]:
df.isnull()

      brandnm  goodsnm   USER  reg_date  order_date  p_type  sub_type  app_yn
0       False    False  False     False       False   False     False   False
1       False    False  False     False       False   False     False    True
2       False    False  False     False       False   False     False    True
3       False    False  False     False       False   False     False    True
4       False    False  False     False       False   False     False   False
...       ...      ...    ...       ...         ...     ...       ...     ...
1466    False    False  False     False       False   False     False   False
1467    False    False  False     False       False   False     False   False
1468    False    False  False     False       False   False     False   False
1469    False    False  False     False       False   False     False   False
1470    False    False  False     False       False   False     False   False

[1471 rows x 8 columns]

In [19]:
matrix_3 = df.copy()

In [20]:
matrix_3.set_index("USER", inplace=True)

In [21]:
FirstOrder = matrix_3.groupby(matrix_3.index)["order_date"].min()

In [22]:
matrix_3['FirstOrder'] = FirstOrder

In [23]:
matrix_3.reset_index(inplace=True)

In [24]:
matrix_3.head()

,USER,brandnm,goodsnm,reg_date,order_date,p_type,sub_type,app_yn,FirstOrder
0,a161237,Gucci,flower dionysus shoulder bag beige,2019-12-06,2021-01-15,7days,BA,Y,2021-01-15
1,a1140859,El estilo de Claire,beads cropped jacket black,2021-01-02,2021-01-15,4days,O,NaN,2021-01-15
2,a1140859,Danha,embroidery point oriental mini skirt blue,2021-01-02,2021-01-15,4days,B,NaN,2021-01-15
3,a1140859,Danha,graphics pattern top pink,2021-01-02,2021-01-15,4days,T,NaN,2021-01-15
4,a1140740,Burberry London,buckle basic pattern zipup-jumper navy,2021-01-01,2021-01-15,7days,O,Y,2021-01-15

In [27]:
당일쇼핑 = matrix_3["order_date"] - matrix_3["FirstOrder"]

In [28]:
당일쇼핑.value_counts()

0 days    1471
dtype: int64

In [33]:
df["USER"].value_counts().head(30)

a1149461    11
a1149583    10
a1142677     9
a189404      7
a1143701     7
a1149542     6
a1129550     6
a187924      6
a1140758     5
a1139388     4
a157879      4
a1139028     4
a1146852     4
a1146366     4
a1149258     4
a1142679     4
a1144535     4
a183676      3
a187447      3
a1130171     3
a1145175     3
a1145581     3
a196681      3
a1143905     3
a1150300     3
a1131410     3
a1144530     3
a1145686     3
a1145316     3
a1140859     3
Name: USER, dtype: int64

In [31]:
df[df["USER"]=="a1149461"]

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn
1148,Alice & Olivia,see-through lace detail blouse black,a1149461,2021-03-15,2021-03-17,4days,T,NaN
1149,Sandro,embroidery detail lace skirt multi,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1150,Time,draping detail midi skirt gray,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1151,El estilo de Claire,ruffle detail see-through sleeve blouse black,a1149461,2021-03-15,2021-03-17,4days,T,NaN
1152,It michaa,pocket basic pattern skirt green,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1153,roajeu,ruffle basic pattern mermaid trumpet-skirt green,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1154,Alexander Wang,basic pattern skirt grey,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1155,Christian Dior,basic pattern sweater burgundy,a1149461,2021-03-15,2021-03-17,4days,T,NaN
1156,MSGM,basic pattern top black,a1149461,2021-03-15,2021-03-17,4days,T,NaN
1157,Fayewoo,ruffle lace pattern mermaid trumpet-skirt red,a1149461,2021-03-15,2021-03-17,4days,B,NaN
1158,Debb,ribbon basic pattern blouse brown,a1149461,2021-03-15,2021-03-17,4days,T,NaN

In [32]:
df[df["USER"]=="a189404"]

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn
1000,Bar Bour,geometric pattern sweater beige,a189404,2020-03-20,2021-03-24,4days,T,Y
1001,Andersson Bell,slit basic pattern sweater beige,a189404,2020-03-20,2021-03-24,4days,T,Y
1002,Paul Smith,button check pattern wool slacks brown,a189404,2020-03-20,2021-03-24,4days,B,Y
1003,Cos,basic pattern dress black,a189404,2020-03-20,2021-03-24,4days,D,Y
1004,Moia,pocket basic pattern wool slacks cream,a189404,2020-03-20,2021-03-24,4days,B,Y
1005,Nain,button basic pattern blouse green,a189404,2020-03-20,2021-03-24,4days,T,Y
1006,Hacie,pocket basic pattern chino-pants beige,a189404,2020-03-20,2021-03-24,4days,B,Y

In [34]:
df[df["USER"]=="a187447"]

,brandnm,goodsnm,USER,reg_date,order_date,p_type,sub_type,app_yn
1303,SJYP,belt basic pattern trench-coat beige,a187447,2020-03-09,2021-03-10,4days,O,NaN
1304,Burberry London,basic pattern t-shirts navy,a187447,2020-03-09,2021-03-10,4days,T,NaN
1305,System,pocket basic pattern slacks navy,a187447,2020-03-09,2021-03-10,4days,B,NaN